
body {
	background-image:  url('../images/photo-1414073875831-b47709631146.png');
	//background-image:  url('../images/concert.png');
	
//	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	
	overflow: auto;
}

.container {
	text-align: center;
	padding-top: 20px;
	margin-left: 100px;
//	background-color: gray;
	padding-bottom:450px;}

#favorite {

	width: 300px;
	height: 20px;
}

#submit-button {
	width: 100px;
	height: 200px;
}

.logo {text-align: center;}
h2 { font-size: 40px;
font-family: 'Lobster', cursive;}
h3 { font-size: 20px;
font-family: 'Lobster', cursive;}

.search-results {
	font-size: 20px;
	font-family: 'Lobster', cursive;
}

.content-footer {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    color : white;
  }
